.chat {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: transform .2s;
  &_container {
    display: flex;
    width: 90vw;
  }
  &_hidden {
    transform: translateX(100vw);
  }
}

.users {
  width: 100%;
  max-width: 300px;
}

.chat_form {
  width: 100%;
}


.messages {
  height: 80vh;
  overflow: scroll;
  width: 100%;
}
.messages::-webkit-scrollbar { width: 0; }
.message {
  display: block;
  min-height: 50px;
  border: 1px solid #b1b1b1;
  border-radius: 15px;
  width: auto;
  margin: 10px 0;
  text-align: left;

  span {
    cursor: pointer;
    display: block;
    color: #ffd593;
    float: right;
    margin-right: 20px;
  }

  &_system {
    font-size: 13px;
    padding: 10px 0;
    border: none;
    text-align: center;
    font-style: italic;
    span {
      cursor: pointer;
      color: #ffd593;
    }
  }
  p {
    margin-top: 20px;
    display: block;
    padding: 10px 40px;
  }
  &_my{
  text-align: right;
  }


}
.message_bar{
  width: 100%;
  display: flex;

  input{
    height: 50px;
    margin-right: 30px;
    width: 100%;
    padding: 0 30px;
  }

  button{
    background: transparent;
    color: white;
    padding: 0 20px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }

}
