.chat {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: transform .2s;
  &_container {
    display: flex;
    width: 90vw;
  }
  &_hidden {
    transform: translateX(100vw);
  }
}

.users {
  width: 100%;
  max-width: 300px;
}

.chat_form {
  width: 100%;
}


.messages {
  height: 80vh;
  overflow: scroll;
  width: 100%;
}
.messages::-webkit-scrollbar { width: 0; }
.message {
  min-height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  width: auto;
  margin: 10px 0;
  text-align: left;

  span {
    color: #000000;
    float: right;
    margin-right: 20px;
  }

  &_system {
    font-size: 13px;
    padding: 10px 0;
    border: none;
    text-align: center;
    font-style: italic;
    span {
      color: #ffd593;
    }
  }

  &_my{
  text-align: right;
  }


}
.message_bar{
  width: 100%;
  display: flex;
}
.message_bar input{
  height: 50px;
  width: 100%;
}
